numpy==1.24.3

torch== 2.4.1
torchvision==0.19.1

matplotlib==3.7.2
matplotlib-inline==0.1.6

opencv-python==4.9.0.80
opencv-python-headless==4.10.0.84

ultralytics==8.2.63
yolov5==7.0.13

ruamel.yaml==0.17.21